.cursor/


bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
.venv/
venv/
ENV/

.DS_Store
Thumbs.db

*.log

chroma-data/

.vscode/

embedding-python/.env
embedding-python/.venv
node_modules
